.Home {
  h1 {
    text-align: center;
  }
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.homeWrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  img {
    width: 400px;
    height: 200px;
  }
}
